* {
    margin:0
  }
  
  
  .mainpage {
    width:100vw;
    height: 100vh;
  }
  
  .card1 {
    width:50vw;
      height: 50vh;
    background-color: pink;
    background-image: url("https://imgur.com/GocTwqm");
      
  }
  
   body {
    background: linear-gradient(45deg, pink 0%, white 36%, magenta 100%);
    height: 100vh; 
    margin: 0; }
  
  .toucharea {background-color:  yellow;}
  
  
  .box1 {background-color: cyan;
  height: 50px;
  width: 50px;
  flex-grow: 1}
  
  .box2{background-color: purple;
  height: 50px;
  width: 50px;
  flex-grow: 1}
  
  .box3{background-color: green;
  height: 50px;
  width: 50px; 
    flex-grow: 1}
  
  .box4{background-color: pink;
  height: 50px;
  width: 50px;
  flex-grow: 1}
  
  .box5{background-color: red;
  height: 50px;
  width: 50px;
  flex-grow: 1}
  
  .container {outline: 1px solid black; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;}